@use './focusVisible.scss';
@use './theme.scss';

:root {
	color-scheme: light dark;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

a {
	text-decoration: none;
}

html,
body,
#app {
	min-width: 100vw;
	min-height: 100vh;
}

#app {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background-color: var(--color-light-gray-0);
}
