.footer {
	padding: 15px 0;
	background-color: var(--color-white);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.body {
	padding: 0px 40px;
	max-width: 1440px;
	margin: 0 auto;

	display: flex;
	align-items: center;
	justify-content: space-between;

	@media screen and (max-width: 700px) {
		flex-direction: column;
		gap: 25px;
	}
}

.wrapper {
	display: flex;
	column-gap: 30px;
}

.privacy {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;

	color: var(--color-gray);
}
